* {
  font-family: sans-serif;
}

body {
}

#city-timer {
  display: inline-block;
  background-color: #00ecb9;
  padding: 1rem;
  margin-top: 0;
}

.title > small {
  font-size: 11px;
}

.title {
  margin: 0 0 0.5rem;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7cecc;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
  padding: 0 0.75rem;
}

.timer-wrapper > div {
  flex-grow: 1;
  text-align: center;
}

.timer-wrapper > div.right {
  width: 260px;
}

.timer {
  background-color: #00ecb9;
  padding: 1rem;
  font-family: sans-serif;
  color: #fff;
  /* display: inline-block; */
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  border: 1px solid green;
}

.timer > div {
  padding: 10px;
  border-radius: 3px;
  background: #00bf96;
  display: inline-block;
}

.timer div > span {
  padding: 8px 15px;
  border-radius: 3px;
  background: #00816a;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 12px;
}
