* {
  font-family: sans-serif;
  color: #fff;
}

body {
}

#city-timer {
  padding: 1rem 0;
  margin-top: 0;
  text-align: left;
}

.title > small {
  font-size: 11px;
}

.title {
  margin: 0 0 0.5rem;
  text-align: left;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background: #2c2e33;
  padding: 1.75rem;
  border-radius: 6px;
}

.timer-wrapper > div {
  flex-grow: 1;
  text-align: center;
}

.timer-wrapper > div.right {
  width: 300px;
}

.timer-wrapper > .timer-container {
  margin: 1rem 0;
  padding: 1rem;
}

.timer {
  /* background-color: #00ecb9; */
  font-family: sans-serif;
  color: #fff;
  /* display: inline-block; */
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid green; */
}

.timer-container .line {
  font-size: 12px;
  text-align: right;
  margin: 1rem 0;
}

.timer > div {
  padding: 10px;
  border-radius: 3px;
  background: #2c2e33;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 10px;
}

.timer div > span {
  padding: 8px 15px;
  border-radius: 3px;
  /* background: #00816a; */
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 12px;
}
